@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-family: "Poppins", sans-serif;

  background-color: cornflowerblue;
}

.Home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Source Sans Pro", sans-serif;
  margin-top: 2rem;
  overflow: hidden;
  background-color: white;
  padding: 1.5rem 1.2rem;
  border-radius: 0.3rem;
  width: 22rem;
}

/* ----------------------HEAD START---------------------- */
.head {
  width: 100%;
  padding-bottom: 0.6rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.151);
  font-family: "Ubuntu", sans-serif;
  margin-bottom: 0.5rem;
}

.head__title {
  color: rgb(0, 0, 0);
  text-align: center;
  user-select: none;
}

.head__title::first-letter {
  background-color: darkslateblue;
  margin-right: 0.1rem;
  color: white;
  padding: 0.1rem 0.4rem;
}

/* ------------ INPUT CONTAINER START--------------------------- */
.input__containers {
  width: 100%;
  margin-top: 0.9rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text__input {
  width: 80%;
  margin-right: 0.3rem;
}
.text__input > input {
  border: 1px solid rgba(0, 0, 0, 0.479);
  width: 100%;
  outline: none;
  padding: 0.5rem;
  margin-top: 0.4rem;
}
.label {
  color: rgba(0, 0, 0, 0.808);
  font-family: "Poppins", sans-serif;
}

.btn {
  width: 20%;
  align-self: end;
}

.btn .submit__btn {
  background-color: darkslateblue;
  color: white;
  outline: none;
  padding: 0.5rem;
  border: 1px solid darkslateblue;
  cursor: pointer;
}
.submit__btn:hover {
  background-color: cornflowerblue;
  border-color: cornflowerblue;
  color: white;
}
/* ----------------- SIGNATURE CONTAINER  START----------------- */
.signature_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 2rem;
  overflow: hidden;
  margin-top: 1.2rem;
}

.signature {
  animation: AnimateText 15s linear infinite;
  font-size: 0.7rem;
  font-family: "Poppins", sans-serif;
  user-select: none;
}

@keyframes AnimateText {
  100% {
    transform: translate(-100%, 0);
  }
}

@media screen and (max-width: 480px) {
  .Home {
    width: 100%;
  }
}
